.app {
    height: 100vh;

    .sections {
        padding: 0px;
        width: 100%;
        height: calc(100vh - 70px);
        position: relative;
        top: 70px;
        background-color: darkcyan;
    }
}