.slider {
   background-color: coral;
   display: flex;
   flex-direction: row;
   position: relative;
   align-items: center;
   justify-content: center;
  .slides{
    background: burlywood;
    color: #ffffff;
    height: 80vh;
    display: flex;
    position: absolute;
    flex-direction: row;
    left: -100vw;

  .left{
   padding: 40px;
   display: flex;
   height: 90vh;
  
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding-bottom: 60px;
    h2{
      font-size: 50px;
      margin: 0;
    }
   }
  .right{
    height: 80vh;
    width: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      height: 50%;
      width: 45%;
      display: flex;
      flex-direction: row;
      background: transparent;
      animation: animate1 5s infinite ease alternate;
            @keyframes animate1 {
                to{
                    
                  transform: perspective(1000px) translate3d(50%, 20px, -200px);
                  
                }
                    
              }
    }
  }
  }
}